<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>419686009194-g6h1ilfkbm6lt8r3v8vvkan4mp4na7vj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.419686009194-g6h1ilfkbm6lt8r3v8vvkan4mp4na7vj</string>
	<key>API_KEY</key>
	<string>AIzaSyAL4_Guctc9ub4FqoiLXJJ_G5Dx8FaUZ2c</string>
	<key>GCM_SENDER_ID</key>
	<string>419686009194</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.taxiApp</string>
	<key>PROJECT_ID</key>
	<string>taxiapp-9eda6</string>
	<key>STORAGE_BUCKET</key>
	<string>taxiapp-9eda6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:419686009194:ios:29cc281a8c6bb83afb3d13</string>
	<key>DATABASE_URL</key>
	<string>https://taxiapp-9eda6.firebaseio.com</string>
</dict>
</plist>